ModernUO
ModernUO.exe
ModernUO.exe.config
ModernUO.dll
ModernUO.dll.config
ModernUO.*.json
ModernUO.pdb
/Assemblies
/Logs/
/Scripts/bin/
/Scripts/obj/
/Scripts/Output
/Server/bin/
/Server/obj/

*.user
*.suo
/.idea
/.vs
/Backups
/Saves

.DS_Store
