/Distribution/ModernUO
/Distribution/ModernUO.*
/Distribution/Assemblies
/Distribution/Logs
/Distribution/Backups
/Distribution/Saves
/Distribution/System.IO.Pipelines.dll
/Distribution/rdrand.so
/Distribution/rdrand.dll
/Distribution/zlib.dll
/Projects/Scripts/obj
/Projects/Server/obj

*.user
/.idea
/.vs

.DS_Store
