:root {
  --muo-gold:                     #d5bf74;
  --muo-gold-compl:               #748ad5;
  --muo-gold-analog:              #bf74d5;
  --muo-green:                    #77d574;
  --muo-gold-a-link:              #947a40;

  /* default */
  --md-default-fg-color:          #212121;
  --md-default-bg-color:          #ffffff;

  /* primary */
  --md-primary-fg-color:          #212121;
  --md-primary-bg-color:          #ffffff;
  --md-primary-fg-color--dark:    #212121;

  /* accent */
  --md-accent-fg-color:           var(--muo-gold);
}

:root > * {
  --md-code-bg-color:             #212121;
  --md-code-fg-color:             rgba(255, 255, 255, 0.7);

  --md-typeset-a-color:           var(--muo-gold-a-link);

  --md-footer-fg-color:           #ffffff;
  --md-footer-bg-color:           #212121;
  --md-footer-bg-color--dark:     #212121;

  --md-code-hl-color:             var(--muo-gold);


  --md-code-hl-number-color:      var(--muo-gold-analog);
  --md-code-hl-special-color:     var(--md-default-bg-color--lighter);
  --md-code-hl-function-color:    var(--muo-gold-compl);
  --md-code-hl-constant-color:    rgba(255, 255, 255, 0.7);
  --md-code-hl-keyword-color:     var(--muo-gold);
  --md-code-hl-string-color:      var(--muo-green);
  --md-code-hl-name-color:        rgba(255, 255, 255, 0.7);

  --md-code-hl-operator-color:    var(--muo-gold-a-link);
  --md-code-hl-punctuation-color: var(--muo-gold-a-link);
  --md-code-hl-comment-color:     var(--md-default-bg-color--lighter);
  --md-code-hl-generic-color:     var(--muo-gold-compl);
  --md-code-hl-variable-color:    var(--muo-gold-compl);
}

.md-tabs__link--active,
.md-tabs__link:focus,
.md-tabs__link:hover,
.md-footer-nav__link:focus,
.md-footer-nav__link:hover,
.md-header-nav__button:focus,
.md-header-nav__button:hover,
.md-source:hover,
html .md-footer-meta.md-typeset a:focus,
html .md-footer-meta.md-typeset a:hover {
  color: var(--muo-gold);
  opacity: 1;
}

@media screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav__title[for=__drawer] .md-nav__button {
    left: 3.75rem;
  }

  .md-nav--primary .md-nav__title {
    padding: 3rem 3.75rem 0.2rem
  }
}

.windows {
  color: #00adef;
}

.apple {
  color: #000000;
}

.ubuntu {
  color: #e95420;
}

.linuxmint {
  color: #87cF3e;
}

.debian {
  color: #d70a53;
}

.fedora {
  color: #3c6eb4;
}

.centos {
  color: #212078;
}

.redhat {
  color: #be0000;
}

.codehilitetable .linenodiv pre, .highlighttable .linenodiv pre {
  color: var(--md-default-bg-color);
}

.codehilitetable .linenodiv, .highlighttable .linenodiv {
  box-shadow: -0.05rem 0 var(--md-default-bg-color) inset;
  opacity: 0.7;
}
